.todos{
    width: 300px;
    margin: 0 auto;
}
.todos__header{
    text-align: center;
}
.todos__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.todos__item{
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
}
.todos__label{
    cursor: pointer;
}
.todos__label_completed{
    text-decoration: line-through;
    color: #797979;
}
.todos__checkbox{
    margin: 0 10px 0 0;
    cursor: pointer;
}
.todos__close{
    border: none;
    background: none;
    color: tomato;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
}
.todos__input{
    color: #ffffff;
    margin: 0 0 20px 0;
    width: calc(100% - 10px);
    border: none;
    background-color: #1f5b5b;
    padding: 5px;
}
.todos__input::placeholder{
    color: #797979;
}
.todos__message{
    font-weight: normal;
    color: rgba(255, 255, 255, 0);
    transition: 600ms;
}
.todos__message_show{
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    transition: 600ms;
}